<query-editor-row query-ctrl="ctrl" can-collapse="true">

    <div style="margin-left: 2em;">

        <div>
            <h4>Time Series</h4>

            <div>Name:</div>
            <div>
                <input type="text"
                       class="input-xxlarge"
                       ng-model="ctrl.target.name"
                       spellcheck="false"
                       bs-typeahead="ctrl.suggestMetrics"
                       placeholder="enter time series name"
                       min-length="0"
                       items="100"
                       ng-blur="ctrl.targetBlur()" />
                <a bs-tooltip="ctrl.target.errors.metric"
                   style="color: rgb(229, 189, 28)"
                   ng-if="ctrl.target.errors.metric">
                    <i class="fa fa-warning"></i>
                </a>
            </div>
        </div>

        <div style="margin-top: 2em;">
            <h4>Attributes</h4>

            <!-- existing attributes -->
            <div ng-repeat="(key, value) in ctrl.target.tags track by $index">
                <span>{{ key }}&nbsp;=&nbsp;{{ value }}</span>
                <a ng-click="ctrl.removeFilterTag(key)" title="remove {{ key }}">
                    <i class="fa fa-remove"></i>
                </a>
            </div>

            <!-- ADD button -->
            <div ng-if="!ctrl.panel.addFilterTagMode">
                <a ng-click="ctrl.addFilterTag()" title="add attribute">
                    <i class="fa fa-plus"></i>
                </a>
            </div>

            <!-- ADD "form" -->
            <div ng-if="ctrl.panel.addFilterTagMode">
                <div style="margin-bottom: .5em;">
                    <div>Attribute key:</div>
                    <div>
                        <input type="text"
                               class="input-large"
                               spellcheck="false"
                               bs-typeahead="ctrl.suggestAttributes"
                               ng-change="ctrl.validateFilterTag()"
                               min-length="0"
                               items="100"
                               ng-model="ctrl.target.currentTagKey"
                               placeholder="key" />
                    </div>
                </div>
                <div style="margin-bottom: .5em;" ng-if="ctrl.target.currentTagKey">
                    <div>Attribute value:</div>
                    <div>
                        <input type="text"
                               class="input-large"
                               spellcheck="false"
                               bs-typeahead="ctrl.suggestTagValues"
                               ng-change="ctrl.validateFilterTag()"
                               min-length="0"
                               items="100"
                               ng-model="ctrl.target.currentTagValue"
                               placeholder="value" />
                    </div>
                </div>
                <div>
                    <a ng-click="ctrl.addFilterTag()" ng-if="ctrl.target.errors.tags" title="cancel">
                        <i class="fa fa-remove"></i>
                    </a>
                    <a ng-click="ctrl.addFilterTag()" ng-if="!ctrl.target.errors.tags" title="save">
                        <i class="fa fa-plus-circle"></i>
                    </a>
                </div>
            </div>
        </div>

        <!-- Join by -->
        <div style="margin-top: 2em;">
            <h4>Join by</h4>

            <!-- exisiting joins -->
            <div ng-repeat="key in ctrl.target.attributes track by $index">
                <span>{{ key }}</span>
                <a ng-click="ctrl.removeJoinByAttribute(key)" title="remove {{ key }}">
                    <i class="fa fa-remove"></i>
                </a>
            </div>

            <!-- ADD button -->
            <div ng-if="!ctrl.panel.addJoinAttributeMode">
                <a ng-click="ctrl.addJoinByAttribute()">
                    <i class="fa fa-plus"></i>
                </a>
            </div>

            <!-- ADD "form" -->
            <div ng-if="ctrl.panel.addJoinAttributeMode">
                <div style="margin-bottom: .5em;">
                    <div>Join type:</div>
                    <div>
                        <input type="text"
                               class="input-small tight-form-input"
                               spellcheck="false"
                               bs-typeahead="ctrl.suggestTagAttributes"
                               ng-change="ctrl.validateJoinAttributes()"
                               min-length="0"
                               items="100"
                               ng-model="ctrl.target.currentAttributeKey"
                               placeholder="key" />
                        <a ng-click="ctrl.addJoinByAttribute()" ng-if="ctrl.target.errors.attributes" title="cancel">
                            <i ng-if="ctrl.target.errors.attributes" class="fa fa-remove"></i>
                        </a>
                        <a ng-click="ctrl.addJoinByAttribute()" ng-if="!ctrl.target.errors.attributes" title="save">
                            <i ng-if="!ctrl.target.errors.attributes" class="fa fa-plus-circle"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</query-editor-row>


